name: Update filters

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *' # Every day at midnight

jobs:
  generate-matrix:
    runs-on: ubuntu-latest
    outputs:
      urls: ${{ steps.build.outputs.urls }}

    steps:
      - name: Get EasyList repositories
        id: build
        run: |
          repos=$(curl -s https://api.github.com/orgs/easylist/repos?per_page=100 \
            | jq -r '.[].name')

          urls=()

          for repo in $repos; do
            files=$(curl -s https://api.github.com/repos/easylist/$repo/contents/ \
              | jq -r '.[] | select(.name | endswith(".txt")) | .name')

            for f in $files; do
              urls+=("https://easylist-downloads.adblockplus.org/$f")
            done
          done

          json=$(printf '%s\n' "${urls[@]}" | sort -u | jq -R -s -c 'split("\n")[:-1]')
          echo "urls=$json" >> $GITHUB_OUTPUT

  download:
    needs: generate-matrix
    runs-on: ubuntu-latest

    strategy:
      max-parallel: 3
      matrix:
        url: ${{ fromJson(needs.generate-matrix.outputs.urls) }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install dependencies
        run: sudo apt-get install -y curl jq

      - name: Create download folder
        run: mkdir -p easylists

      - name: Download filter list
        run: |
          fn=$(basename "${{ matrix.url }}")
          curl -sSL "${{ matrix.url }}" -o "easylists/$fn"

      - name: Upload artifacts
        uses: actions/upload-artifact@v7
        with:
          name: easylists-files
          path: easylists/

  commit-all:
    needs: download
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          name: easylists-files
          path: easylists

      - name: Commit & push
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"

          git add easylists/
          git diff --quiet && git diff --staged --quiet || git commit -m "Update EasyList filter lists"
          git push
